/* CSS Document */
.wrapper {width:760px;}
.top{background-color:#9F0;}
.nav{background-color:#FF9;}
.content{background-color:#000;}
.left_column{width:200px;}
.left_top{background-color:#F60;}
.left_middle {background-color:#99F;}
.left_bottom{background-color:#699;}
.middle_column{background-color:#0CF;width:400px;}
.right_column{background-color:#F96;}
.footer{background-color:#AAA;}
.right_column_border {border:3px #0F0 solid;}
.col1 {width:120px; background-color:#CCC;}
.col2{background-color:#0C0;}
.yyy{background-color:#FFF;}