@charset "utf-8";
body {
	background-image: url(../images/main/strip.gif); background-repeat:repeat-x; background-position:0 50px; padding:0; margin:0;
}

iframe body {height:0; padding:0; margin:0;}

/*Dimensions */
.flash_gallery {margin-top:-15px;}
.wrapper {width:960px;}
.col_left {width:320px;}
#nav {padding-top:11px;}

.wrapper {min-height:600px;}

.row1, .row3 {background-color:#eee;}
.row2 {height:248px; overflow:hidden;}

.wrapper .row3 {padding-right:4px;}

.row1 ul
{
	height: 40px;
	width: 625px;
	margin:0;
	padding:0;
	line-height:40px;
}
.row1 ul li
{
	float: left;
	list-style: none;
	margin:0;
	padding:0;
	
}
.row1 ul * a
{
	float:left;
	height:40px;
	line-height:40px;
	cursor: pointer;
	width: 125px;
}

.row1 ul li.current {}

.row1 ul a {color:#444; text-decoration: none; text-align: center; font-family: 'Syncopate', sans-serif; font-size:13px;}
.row1 ul a:link {color: #444; text-decoration: none;}
.row1 ul a:visited {color:#444; text-decoration: none;}
.row1 ul a:hover {color:#FF6600; text-decoration: none;}
.row1 ul a:focus {color:#444; text-decoration: none;}
.row1 ul .current a {color: #FF6600;} 

/* Article */
p {text-align:justify; margin-left:10px; margin-right:10px; margin-bottom:10px; text-indent:26px; line-height:18px;}
h1 {padding-left:10px; padding-bottom:10px; padding-top:10px;}
h2 {padding-left:10px; font-size:14px;}
p img {float:left;}
.image {text-align:center; margin-top:10px; margin-bottom:10px;}

/*Footer*/
.box { 
  background: #000000; color:#fff;
}
.boxtop {
	/*background-image: url(../images/main/ne.gif);
	background-repeat: no-repeat;
	background-position: right top;*/
}
.boxtop div { 
  font-size: 0;
  height: 10px; 
  /*background: url(../images/main/nw.gif) no-repeat top left;*/ 
}
.boxbottom { 
  background: url(../images/main/se.gif) no-repeat bottom right; 
}
.boxbottom div { 
  font-size: 0;
  height: 10px; 
  background: url(../images/main/sw.gif) no-repeat bottom left; 
}
.boxcontent {
  padding: 0 10px 0px 10px;
  vertical-align:middle;
  text-align:center;
}
p.copyright {text-align:center; text-indent:0;}
p.copyright a {color:#FF6600;}

/*Widgets*/
.col_left h2 {text-align:center; font-size:16px; margin-top:6px;}
.boxl { 
  background: #FFFFFF; margin:10px;
}
.boxtopl { 
  background: url(../images/main/nel.gif) no-repeat top right; 
}
.boxtopl div { 
  font-size: 0;
  height: 10px; 
  background: url(../images/main/nwl.gif) no-repeat top left; 
}
.boxbottoml { 
  background: url(../images/main/sel.gif) no-repeat bottom right; 
}
.boxbottoml div { 
  font-size: 0;
  height: 10px; 
  background: url(../images/main/swl.gif) no-repeat bottom left; 
}
.boxcontentl {
  padding: 0px 10px 0px 10px;
}
.boxcontentl img {float:left; padding-right:6px; padding-bottom:4px;}

.boxcontentl h5 {margin-bottom:4px;}

span.spacer {margin-left:5px; margin-right:5px;}

table {border:none; width:100%; margin-left:10px; width:600px;}


